<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="/favicon.gif">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul style="color: #232323; background: none; background-color: none;">
          <li><a class="buttons" href="https://www.uni.lu/c2dh-en/people/frederic-clavert/">C<small><sup>2</sup></small>DH</a></li>
          <li><a class="buttons github" href="https://github.com/inactinique">Github</a></li>
          <li><a rel="me" class="buttons" href="https://www.artificial-memory.net/">Artificial Memory</a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p style="font-size:10px;"><a href="https://pages.github.com">GitHub Pages</a> + Dinky theme</p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
